# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# SQLite database
*.db
*.sqlite3
db/*.db
db/*.sqlite3

# Virtual environment
.venv/

# Environment variables
.env

# Editor/IDE files
.vscode/
.idea/

# Logs and temporary files
*.log
tmp/
